body {
    width: auto;
    text-align: center;
    background-color: #ccc;
    padding: 2px;
    text-shadow: 0px 0px .08px #b6ff00;
    font-size: large;
}
.hide {
    display: none;
}
.title {
    font-size: xx-large;
    padding: 1%;
    background-color: #1be890;
    margin: 1%;
    border: groove 5px #5c0e2a;
}
button {
    margin: 1%;
}
.content {
    background-color: #ccc;
    width: auto;
    margin: 1%;
    padding: 1%;
    align-content: center;
}
.iconic {
    background-image: url(image.jpg);
    background-size: cover;
}
fieldset {
    background-image: url(maxresdefault.jpg);
    background-size: cover;
    margin: 1%;
}
input, option {
    margin: 1%;
    color: #230720;
}
legend {
    background-color: aliceblue;
    border: ridge .5px black;
}
a {
    background-color: crimson;
    text-decoration: none;
    color: black;
    padding: 2px;
    margin: 5% 2%;
    border: ridge .5px black;
}
a:hover {
    background-image: url(image.jpg);
    background-size: cover;
    color: #1be890;
    border: ridge .5px #15c1f9;
    text-shadow: 0px 0px .8px crimson;
}
/*p {
    box-sizing: content-box;
    width: auto;
    background-color: azure;
}*/